.header-container {
  display: flex;
  flex-direction: row;

  button {
    margin-left: auto;
    height: 40px;
    background-color: #5f9ea0;

    &:hover {
      background-color: #5f9ea9;
    }
  }
}

button {
  font-family: 'Poppins', sans-serif;
  width: 150px;
  border-radius: 4px;
  padding: 5px;

  &.disabled {
    color: darkgray;
    background-color: #dddddd;
  }
}

.board {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  align-items: center;
  align-items: center;
  width: fit-content;
  margin: 0 auto;
}

.board-title {
  text-align: center;
  margin-bottom: 20px;
  color: darkslategray;
  font-family: 'Poppins', sans-serif;
}

.info-gewonnen {
  text-align: center;
  color: plum;
  font-family: 'Poppins', sans-serif;
  font-size: 2em;
  border: 1px solid plum;
}

.category-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px;
  gap: 10px;

  button.active {
      background-color: azure;
      border-color: azure;
    }
}

.shuffle-button {
  margin-left: 40px;
  background-color: cornsilk;
}

